LENGUAJES DE MARCAS/XSD/Xsd_Actividad_1/XSD_Actividad_1_ReginoBosch.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Pedidos">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="pedido" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="telefono" type="xs:integer"/>
                <xs:element name="fecha" type="xs:date"/>
                <xs:element name="contenido" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
</xs:schema>
